@{
    ViewBag.Title = "About";
}
<div class="container-fluid">
   
    <h2>@ViewBag.Message</h2>

    <div class="row">
        <div class="col-md-4">
            <p>This app will allow you to track your daily calorie intake.
            You will need to register to use it and for it to remember your current total.</p>
            <p>When you eat food you can select it from the menu by
            navigating to the food item you have eaten and clicking "ADD".</p>
            <p>This will add the calories for that item of food to your daily total and 
            you can reset the total count anytime when viewing your total.</p>
        </div>
        <br />
        <div class="col-md-4">
            <img class="img-rounded" src="~/Images/foods.png" />
        </div>
    </div>
</div>