@{
    ViewBag.Title = "Developer";
}
<div class="container-fluid">
    
    <br />
    <div class="row">
        <div class="col-md-4">
            <p>
                <strong>Developed using ASP.NET and MVC 5 with C#.</strong>
            </p>
            <p>
                This technology is good for allowing developers to get up and running quickly
                with a site which is quite responsive across a range of browsers and devices.
                It allows developers to concentrate on the functioning of the app.
                Bootstrap also relies on jQuery which is bundled into the framework.
            </p>
            <br />
            <p>
                <strong>The Development IDE:</strong>
            </p>
            <p>
                Microsoft Visual Studio Community 2019
                Version 16.9.4
                VisualStudio.16.Release/16.9.4+31205.134
                Microsoft .NET Framework
                Version 4.8.04084
            </p>

            <p>
                Calorie Counts App version 1.0
                By John McKinney &copy @DateTime.Now.Year
            </p>
            <br />
        </div>
        <div class="col-md-4">
            <img class="img-rounded" src="~/Images/foods.png" />
        </div>
    </div>

</div>

