@model IEnumerable<CalorieProject_V01.Models.Category>
@*using CalorieProject_V01.Models*@
@{
    ViewBag.Title = "Home";
}


<div class="container-fluid">
    <h2>Food Categories</h2>
    <br />

    <table class="table">

    @foreach (var item in Model)
    {
        <tr>

            <td>
                
                <a href="@Url.Action("ShowCategoryItems", "Home", new { id = item.CategoryId })" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-list"></span> @Html.DisplayFor(modelItem => item.Name)
                </a>
            </td>
            
            @{ 
                var img = "~/Images/" + item.ImgFilePath;
            }
        <td>
            <a href="@Url.Action("ShowCategoryItems", "Home", new { id = item.CategoryId })">
                <img src=@Url.Content(img) class="img-rounded img-responsive" style="width:100px;height:100px;" alt="Image" />
            </a>
        </td>
        </tr>
    }

    </table>
</div>