@model IEnumerable<CalorieProject_V01.Models.Sound>
@{
    ViewBag.Title = "Sounds";
}


<div class="container-fluid">
    <h2 class="text-center">5:2 Diet Podcasts</h2>
    <h3 class="text-center">Kate Harrison</h3>
    <br />
    <table id="datatable" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Play Audio</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>
                        <audio controls>
                            <source src="@Url.Content(@item.FilePath)" type="audio/mp3" />
                        </audio>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


